.feedContainer__filter {
  width: 35%;
  background-color: whitesmoke;
  padding: 15px 15px;
  border-radius: 5px;
  border: 2px solid gray;
  justify-content: space-between;
}

.feedContainer__noPostsFoundContainer {
  display: flex;
  justify-content: center;
  padding: 55px;
  margin-top: 125px;
  font-size: 20px;
  background-color: gray;
}

@media (max-width: 800px) {
  .feedContainer__filter {
    width: 60%;
  }
}
