.mixesCardsComponent__container {
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .mixesCardsComponent__container {
    display: flex;
    flex-direction: column;
  }
}
