.post {
  width: 80%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
  /* border-bottom: 1px solid lightgray; */
}

.post__avatar {
  margin-right: 10px;
}

.post__topInfo > h3 {
  font-size: medium;
  /* color: blueviolet; */
  color: black;
}

.post__topInfo > p {
  font-size: small;
  color: gray;
}

.post__bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 15px;
  color: gray;
}

.post__image > img {
  width: 100%;
}

.post__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
  /* styling for phones */
  overflow-x: scroll;
  margin-left: 15px;
}

.post__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}

.post__emptyContainer {
  width: 70px;
}
.post__option > p {
  margin-top: 15px;
  margin-left: 10px;
  width: 100%;
}

.post__option > p > strong {
  margin-top: 15px;
  width: 100%;
}

.post__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}

.post__reactPlayer {
  height: 300px;
  width: 300px;
}

@media (max-width: 1000px) {
  .post {
    width: 98%;
  }
}

@media (min-width: 500px) {
  .post__emptyContainer {
    display: none;
  }
} ;
