.contributionsContainer__container {
  /* width: 50%; */
  border: 2px solid black;
  text-align: center;
  max-height: 500px;
  overflow: scroll;
  font-size: 30px;
}

.contributionsContainer__title {
  width: 100%;
  /* position: absolute; */
}
