.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0, 75);
  width: 100%;
  margin-bottom: 5px;
}

.messageSender__top {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}

.messageSender__top > form {
  flex: 1;
  display: flex;
}

.messageSender__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0px 10px;
  border-radius: 999px;

  /* background-color: #eff2f5; */
}

.messageSender__top > form > button {
  /* display: none; */
}

.messageSender__input {
  flex: 1;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  padding: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: gray;
  margin: 5px;
  overflow-x: scroll;
}

.messageSender__option > h3 {
  font-size: medium;
  margin-left: 10px;
  cursor: pointer;
  overflow-x: scroll;
  /* padding: 20px; */
}

/* .messageSender__option:hover {
  background-color: #eff2f5;
  border-radius: 20px;
} */

.messageSender__tags {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  outline: none;
  width: 200px;
}

.messageSender__tags > button {
  border: none;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  /* background-color: lightgray; */
  /* background-color: black; */
}
.messageSender__tags > button:hover {
  background-color: #eff2f5;
}
.messageSender__tags > button:focus {
  /* background-color: #eff2f5; */
  outline: none;
}
.messageSender__tags > button:active {
  background-color: #eff2f5;
  /* font-size: large; */
}

.messageSender__tagContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

.messageSender__buttonNotClicked {
  outline: none;
  background-color: lightgray;
  color: gray;
  flex: 1;
}

.messageSender__buttonClicked {
  outline: none;
  color: blue;
  background-color: #eff2f5;
}

@media (max-width: 1000px) {
  .messageSender__top > form {
    flex-direction: column;
  }
  .messageSender__top > form > input {
    margin: 10px 10px;
  }
}

.postButton-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.postButton-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.postButton-hover:focus {
  outline: none;
}

.postButton-hover.postButton {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

@media (min-width: 1000px) {
  .postButton {
    display: none;
  }
  .postButton-hover {
    display: none;
  }
}
