.favouriteTrack__container {
  padding: 10px 10px;
  border-top: 1px solid gray;
  height: 105px;
  margin: auto;
}

.favouriteTrack__container:hover {
  background-color: gray;
}

.favouriteTrack__container > p {
  color: black;
}
