@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.PostsInformationStatistics__statsContainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 15px;
  margin-top: 10px;
}

.PostsInformationStatistics__statsSubcontainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.PostsInformationStatistics__statsBox {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Audiowide';
  font-weight: bold;
}

@media (max-width: 1000px) {
  .PostsInformationStatistics__statsBox {
    justify-content: space-between;
  }
  .PostsInformationStatistics__statsSubcontainer {
    flex-direction: column;
  }
}
